HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/src/main/resources/application*.yml
/src/main/resources/static
/src/main/resources/data.sql
/src/test/resources/application*.yml

**/**/.DS_Store
.DS_Store

/src/main/generated
/http/*

## ybchar log
nodeenv-16
/src/main/resources/static/assets
/src/main/resources/static/fonts
/src/main/resources/static/favicon.ico
/src/main/resources/static/gProfile.jpeg
/src/main/resources/static/index.html

nohup.out

