.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #383838;
  margin: 0;
}

.sub {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: .98rem;
  .regDate {
    margin-left: 5px;
    color: #6b6b6b;
  }
}

.comment {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-item {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.comment-info {
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 0.5rem;
}

.comment-username {
  font-weight: bold;
  margin-right: 0.5rem;
}

.comment-date {
  font-style: italic;
}

.comment-content {
  font-size: 1.1rem;
  line-height: 1.5;
}

.comment-write {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__input {
    margin-bottom: 1rem;
  }

  &__button {
    margin-top: 1rem;
  }
}

.content {
  margin-top: 12px;
  /* 코드 블럭 스타일 */
  &.read {
    font-size: 0.95rem;
    margin-top: 8px;
    color: #616161;
    white-space: break-spaces;
    line-height: 1.5;
  }
}
